* {
  max-width: none !important;
}

#root {
  margin: 0 ;
  text-align: center;
  width: 100%;
}


:root {
  --color-primary: #A6D5E9;      /* světle tyrkysová */
  --color-secondary: #D7E2C2;    /* přírodní béžovo-zelená */
  --color-accent: #3DA85A;       /* zelená pro CTA */
  --color-dark: #154829;         /* tmavá přírodní */
  --color-white: #FFFFFF;
  --color-black: #000000;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.footerLink {
  color: #ff6b6b;
  font-weight: 600;
  text-decoration: none;
  transition: 0.2s;
}

.footerLink:hover {
  color: #ff3b3b;
  text-decoration: underline;
}
