*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Roboto",
    sans-serif;
  background-color: #f7f8f3;
  /* jemná tečkovaná textura */
  background-image: radial-gradient(
      circle at 1px 1px,
      rgba(0, 0, 0, 0.03) 1px,
      transparent 0
    ),
    radial-gradient(circle at 3px 3px, rgba(0, 0, 0, 0.02) 1px, transparent 0);
  background-size: 6px 6px;
}